.char{
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hpBar{
  position: absolute;
  height: 2px;
  top: 0px;
  left: 0px;
}
.charTooltip{
  width: 270px;
}
.charTooltipImage{
  float: left;
}
.charTooltipContent{
  display: inline-block;
}
.coordinatesTooltip{
  position: absolute;
  border: 2px solid black;
  background: #EEEEEE;
}
.options{
  position: absolute;
  background: #e0dcd5;
  font-size: 75%;
  border: 1px solid black;
  width: 220px;
}
.initiativePortrait{
  position: relative;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.initiativeName{
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color:rgba(255,255,255,0.5);
}
.initiativeNumber{
  position: absolute;
  top: 10px;
  right: 0;
  background-color:rgba(255,255,255,0.5);
}
.initiativeHpBar{
  height: 4px; 
  bottom:4px; 
  left:0; 
  background: #00FF00; 
  position: absolute;
}

#combatLog{
  font-size: 8pt;
  position: fixed;
  right: 120px;
  bottom: 0px;
  width: 350px;
  height: 150px;
  background-color:rgba(255,255,230,0.5);
}

#commandsArea{
  font-size: 12pt;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

#commandPowerList{
  position: fixed;
  bottom: 40px;
  left: 10px;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid #666666;
}

.atwill-power{
  background-color: #99ffcc;
}
.encounter-power{
  background-color: #ff6666;
}
.daily-power{
  background-color: #cccccc;
}
.power{
  width: 250px;
  text-align: left;
}

#initiative{
  position: fixed;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:rgba(230,230,255,0.5);;
}
#showCombatLog{
  font-size: 10pt;
  position: fixed;
  right: 120px;
  bottom: 0px;
  background-color:rgba(255,255,230,0.5);
}
#showInitiative{
  font-size: 10pt;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color:rgba(230,230,255,0.5);;
}
#coords{
  position:absolute;
  background-color:rgba(255,255,255,0.5); 
  font-size: 10pt; 
  font-weight: bold;
}


#map{
  position: relative;
}
#mapContainer{
  overflow: hidden;
  background-image: url('../../res/img/bg.jpg');
  width: 100%;
  height: 100%;
}

.tooltip-name{
  font-weight: bold;
}
.tooltip-hp{
  font-size: .8em;
  font-weight: bold;
}
.tooltip-hs{
  font-size: .8em;
  font-weight: normal;
}
.tooltip-effect-even{background: #cccccc;}
.tooltip-effect-odd{background: #ffffff;}
.tooltip-effect-name{font-size: .7em;}
.tooltip-effect-effect{font-size: .7em;}
.tooltip-effect-duration{font-size: .7em;}
